.selectWrapper {
    /*border: 1px solid red;*/
    display: inline-block;
}

.title {
    border: 1px solid royalblue;
    padding: 10px;
    margin: 10px;


    &:hover {
        cursor: pointer;
    }

}

.item {
    border: 1px solid red;
    padding: 10px;
    margin: 10px;

    &:hover {
        cursor: pointer;
    }
}